<% provide(:button, 'Create') %>
<div class="container-fluid">
    <h2 class="text-center">New Pokemon</h2>
    <div>
    <ul>
        <% @pokedex.errors.full_messages.each do |error| %>
            <li class="alert alert-danger"><%= error %></li>
        <% end %>
        </ul>
    </div>

    <div class="container">
        <%= render 'form' %>
    </div>
</div>