<!-- Footer -->
<footer class="page-footer font-small bg-secondary fixed-bottom">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://github.com/alvingho25/pokemon-rainbow-ukirama" class="text-white"> Alvin</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->