<nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
  <%= link_to "Pokemon Rainbow", root_path, class: "navbar-brand" %>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <%= link_to "Battle", root_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Pokemon", root_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Pokedex", root_path, class: "nav-link" %>
    </li>
  </ul>
</nav>